Repository BulbProject/bulb-project-api, pull requests merged in 2020-09, with the labels that each got.

#68 fix: Fix status codes and corresponding schemes
  src/do/algorithms/algorithms.module.ts
  src/do/algorithms/algorithms.service.ts
  src/do/algorithms/services/calculation/calculation.service.ts
  src/do/do.controller.ts
  src/do/entity/requirement-response/requirement-response.entity.ts
  src/do/entity/variant/observation.entity.ts
  src/manage/guards/id-conformance.guard.ts
  src/shared/entity/category/requirement.entity.ts
  src/shared/repositories/category-version/category-version-repository.service.ts
  src/shared/utils/get-last-version-number.ts
  src/shared/utils/index.ts
Labels: controller:do

#70 feat: Add features for motors calculation
  .eslintrc.js
  src/do/algorithms/categories/31110000-0.ts
  src/do/algorithms/categories/31500000-1.ts
  src/do/algorithms/categories/42122130-0.ts
  src/do/entity/algorithm-engine.d.ts
  src/do/entity/algorithm-engine.ts
  src/do/entity/index.ts
  src/do/services/docx-generator/docx-generator.service.ts
Labels: controller:do, feature

#72 feat: Add conformance.service and the guard for not existing category
  src/do/algorithms/algorithms.module.ts
  src/do/algorithms/services/calculation/calculation.service.ts
  src/do/algorithms/services/specification/specification.service.ts
  src/do/do.controller.ts
  src/do/do.module.ts
  src/do/entity/selected-variant/selected-variant.entity.ts
  src/do/entity/specification/index.ts
  src/do/entity/specification/specification-payload.entity.ts
  src/do/entity/specification/specification-query.ts
  src/do/entity/variant/variant.entity.ts
  src/do/guards/existing-algorithm.guard.ts
  src/do/guards/index.ts
  src/do/interceptors/docx-headers.interceptor.ts
  src/do/services/conformance/conformance.module.ts
  src/do/services/conformance/conformance.service.ts
  src/do/services/conformance/index.ts
  src/do/services/docx-generator/docx-generator.service.ts
  src/shared/entity/category/requirement.entity.ts
  src/shared/entity/category/value.entity.ts
Labels: controller:do

#82 0.4.0
  calculation-data/42522000-1/directory.csv
  calculation-data/42522000-1/formulas.csv
  documents/42522000-1/42522000-1.jpg
  documents/42522000-1/axial.png
  documents/42522000-1/centrifugal-backward-curved-with-housing.png
  documents/42522000-1/centrifugal-backward-curved-without-housing.png
  documents/42522000-1/centrifugal-forward-curved.png
  documents/42522000-1/centrifugal-radial-curved.png
  documents/42522000-1/cross-flow.png
  documents/42522000-1/mixed-flow.png
  package.json
  src/do/algorithms/algorithms.module.ts
  src/do/algorithms/algorithms.service.ts
  src/do/algorithms/categories/42522000-1.ts
  src/do/algorithms/categories/index.ts
  src/shared/repositories/categories-list/categories-list-repository.service.ts
Labels: controller:categories, controller:do, feature
